body {
  margin-top: 50px;
}

.description {
  font-size: 24px;
  color: gray;
}

.green {
  border: 2px solid rgba(0,164,0,.8)
}

.red {
  border: 2px solid rgba(164,0,0,.8)
}

.blue {
    border: 2px solid rgba(44, 130, 201, 1)
}

.grid-container {
  display: grid;
  height: 200px;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}